@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
} */
html {
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-bg {
  background-image: url("/hero-bg.svg");
  /* background-size: 70%; */
  background-position: center;
  background-repeat: no-repeat;
  @apply bg-cover md:bg-[70%];
}

@layer base {
  .bg-blur-light {
    @apply relative z-[-1]
    flex
    place-items-center
    before:absolute
    before:h-[300px]
    before:w-full
    before:-translate-x-1/4
    before:rounded-full
    before:bg-gradient-radial
    before:from-white
    before:to-transparent
    before:blur-2xl
    before:content-['']
    after:absolute
    after:-z-20
    before:-z-10
    after:h-[220px]
    after:lg:h-[220px]
    after:w-full
    after:translate-x-1/4
    after:lg:translate-x-72
    after:bg-gradient-conic
    after:from-sky-200
    after:via-blue-200
    after:blur-3xl
    after:content-['']
    before:dark:bg-gradient-to-br
    before:dark:from-transparent
    before:dark:to-blue-700
    before:dark:opacity-40
    after:dark:from-sky-900
    after:dark:via-[#0141ff]
    after:dark:opacity-60
    sm:before:w-[480px]
    sm:after:w-[240px]
    before:lg:h-[360px];
  }
}
.service-card {
  @apply py-6 px-6 bg-gray-900 rounded-lg border border-gray-700 w-full md:w-1/6 text-center min-h-20 md:min-h-40 flex items-center justify-center flex-1 flex-col;
}

input,
select,
textarea {
  @apply px-3 py-2 rounded-xl text-gray-200 bg-white bg-opacity-20 transition-all duration-150 outline-none;
}

input:focus,
select:focus,
textarea:focus {
  @apply bg-white text-black;
}

input:disabled,
select:disabled,
textarea:disabled {
  @apply bg-gray-300;
}

.primary-button {
  @apply border border-opacity-20 bg-blue-600 hover:bg-blue-500 active:opacity-60 border-white py-3 px-8 rounded-full inline-block font-semibold;
}
.primary-button:disabled {
  @apply bg-gray-300 text-gray-500;
}
